h1, h2, h3, h4, h5, h6, p, span {
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
}

.main-header {
  background: #e0e0e0;
}

.main-header .navbar-brand img {
  width: 80px;
}

.main-header .our-header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-header .our-header-menu ul li {
  position: relative;
}

.main-header .our-header-menu ul li:hover > a {
  color: #1512ac;
  border-bottom: 2px solid #3d3ae7;
}

.main-header .our-header-menu ul li:hover > ul {
  opacity: 1;
  visibility: visible;
}

.main-header .our-header-menu ul li a {
  text-decoration: none;
  color: #111;
  display: inline-block;
  padding: 10px 10px;
  font-weight: 500;
  font-size: 18px;
}

.main-header .our-header-menu ul li a.active {
  border-bottom: 2px solid #3d3ae7;
}

.main-header .our-header-menu ul ul {
  position: absolute;
  width: 300px;
  top: 130%;
  left: 0;
  list-style: none;
  background: #fafafa;
  padding: 10px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.main-header .our-header-menu ul ul li {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-header .header-button a {
  padding: 10px 20px;
  display: inline-block;
  background: #fff;
  color: #3d3ae7;
  text-decoration: none;
  width: 130px;
  margin-left: 30px;
  text-align: center;
  border-radius: 50px;
  position: relative;
  z-index: 1;
}

.main-header .header-button a:hover::after {
  width: 100%;
}

.main-header .header-button a::after {
  content: "";
  width: 0;
  height: 100%;
  display: inline-block;
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: -1;
}

.slider-section .picure img {
  margin-top: -120px;
  margin-left: 73px;
}

.slider-section .slider-contant-wrap {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.slider-section .slider-contant-wrap .slider-contant h1 {
  font-size: 50px;
  margin-top: 25px;
  margin-bottom: 20px;
  font-weight: bold;
}

.slider-section .slider-contant-wrap .slider-contant p {
  color: #606060;
  font-size: 16px;
  font-weight: 400;
}

.slider-section .slider-contant-wrap .slider-contant a {
  padding: 10px 20px;
  display: inline-block;
  background: #3d3ae7;
  color: #fff;
  text-decoration: none;
  width: 130px;
  text-align: center;
  border-radius: 50px;
  position: relative;
  z-index: 1;
}

.slider-section .slider-contant-wrap .slider-contant a:hover::after {
  width: 100%;
  color: #111 !important;
}

.slider-section .slider-contant-wrap .slider-contant a::after {
  content: "";
  width: 0;
  height: 100%;
  display: inline-block;
  border-radius: 50px;
  background: #000;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: .4s;
  transition: .4s;
  z-index: -1;
}
/*# sourceMappingURL=style.css.map */